<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {% block title %}
    <title></title>
    {% endblock %}
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='img/icon/favicon.png')}}" />
    -->
    <!-- CSS here -->
    {% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome-all.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/flaticon.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/aos.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/slick.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/default.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}" />
    <!--
        <link rel="stylesheet" href="{{url_for('static', filename='css/dropdown.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/member-main.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/init.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
        -->
    {% endblock %}
</head>

<body>
    <!-- header-area -->
    {% block header %}
    <header>
        <div class="header-search-area">
            <div class="container custom-container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-3 d-none d-lg-block">
                        <div class="logo">
                            <a href="{{url_for('index')}}" title="返回主页"><img
                                    src="{{url_for('static',filename='img/logo/icon_new_small.png')}}" alt="Logo" /></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-9">
                        <div class="d-block d-sm-flex align-items-center justify-content-end">
                            <div class="header-action">
                                <ul>
                                    <li class="header-cart-action">
                                        <div class="header-cart-wrap">
                                            <a href="{{url_for('user.space')}}" id="bar_icon_user"><i
                                                    class="flaticon-user"></i></a>
                                            <ul class="minicart" id="menu"></ul>
                                        </div>
                                        <!--<div class="cart-amount">$0.00</div>-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    <!-- header-area-end -->

    <!-- main-area -->
    {% block main %}
    <main></main>
    {% endblock %}
    <!-- main-area-end -->

    <!-- footer-area -->
    {% block footer %}
    <footer>

    </footer>
    {% endblock %}
    <!-- footer-area-end -->

    <!-- JS here -->
    {% block js %}
    <script src="  {{url_for('static', filename='js/vendor/jquery-3.6.0.min.js')}}"></script>
    <script src="  {{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="  {{url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
    <script src="  {{url_for('static', filename='js/imagesloaded.pkgd.min.js')}}"></script>
    <script src="  {{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
    <script src="  {{url_for('static', filename='js/jquery.countdown.min.js')}}"></script>
    <script src="  {{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
    <script src="  {{url_for('static', filename='js/slick.min.js')}}"></script>
    <script src="  {{url_for('static', filename='js/ajax-form.js')}}"></script>
    <script src="  {{url_for('static', filename='js/wow.min.js')}}"></script>
    <script src="  {{url_for('static', filename='js/aos.js')}}"></script>
    <script src="  {{url_for('static', filename='js/plugins.js')}}"></script>
    <script src="  {{url_for('static', filename='js/main.js')}}"></script>
    <script src="  {{url_for('static', filename='js/bootbox.min.js')}}"></script>
    <!--<script src="  {{url_for('static', filename='js/dropdown.js')}}"></script>-->
    <script type="text/javascript">
        $(document).ready(() => {
            if ("{{current_user}}".indexOf("Anonymous") != -1) { // 未登录 $(bar_icon_post).remove();
                $(bar_icon_user).attr('href', '{{url_for("login")}}');
                $(menu).append(`<li>
        <div class="checkout-link">
            <a class="black-color" href="{{ url_for("login") }}">登录</a>
        </div>
    </li>`);
            } else {
                $(menu).append(`<li>
        <div class="checkout-link">
            <a href="{{url_for("user.space")}}">个人中心</a>
            <a class="black-color" href="{{url_for("logout")}}">退出登录</a>
        </div>
    </li>`);
            }
        });
        var prompt = function (message, style, time) {
            style = style === undefined ? "alert-success" : style;
            time = time === undefined ? 1200 : time;
            $('<div id="promptModal">')
                .appendTo("body")
                .addClass("alert " + style)
                .css({
                    display: "block",
                    "z-index": 99999,
                    width: "75%",
                    left: ($(document.body).outerWidth(true) - 120) / 8,
                    top: "10px",
                    position: "absolute",
                    padding: "20px",
                    "border-radius": "5px",
                })
                .html(message)
                .hide()
                .fadeIn(200, function () {
                    $("#promptModal").show();
                })
                .delay(time)
                .fadeOut(200, function () {
                    $("#promptModal").remove();
                });
        };
        // 成功提示
        var success_prompt = function (message, time) {
            prompt(message, "alert-success", time);
        };

        // 失败提示
        var fail_prompt = function (message, time) {
            prompt(message, "alert-danger", time);
        };

        // 提醒
        var warning_prompt = function (message, time) {
            prompt(message, "alert-warning", time);
        };

        // 信息提示
        var info_prompt = function (message, time) {
            prompt(message, "alert-info", time);
        };

        // 信息提示
        var alert_prompt = function (message, time) {
            prompt(message, "alert-primary", time);
        };

        function suspend(str, message = "") {
            document.scrollingElement.scrollTop = 0;//让页面滚动到最顶部
            switch (str) {
                case "alert-success": success_prompt(message != "" ? message : "提交成功"); break;
                case "alert-warning": warning_prompt(message != "" ? message : "错误警告"); break;
                case "alert-danger": fail_prompt(message != "" ? message : "提交失败"); break;
                case "alert-info": info_prompt(message != "" ? message : "未查询到数据"); break;
                case "alert-info2": info_prompt(message != "" ? message : "未查询到数据"); break;
                default: alert_prompt("未查询到数据");
            }
        }
        function sleep(time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }

        function check_username(username) {
            if (username.length < 8 || username.length > 20) {
                let message = "用户名长度不符合要求";
                suspend("alert-warning", message);
                return false
            }
            let username_pattern = /^[0-9a-zA-Z]+$/;
            if (!username_pattern.test(username)) {
                let message = "用户名格式不符合要求";
                suspend("alert-warning", message);
                return false
            }
            return true;
        }
        function check_password(password) {
            if (password.length < 6 || password.length > 20) {
                let message = "密码长度不符合要求";
                suspend("alert-warning", message);
                return false;
            }
            let sub = [/[0-9]/, /[a-zA-Z]/];
            let password_pattern = /^[0-9a-zA-Z_]+$/
            if (!password_pattern.test(password)) {
                let message = "密码格式不符合要求";
                suspend("alert-warning", message);
                return false;
            }
            for (i in sub) {
                if (!sub[i].test(password)) {
                    let message = "密码格式不符合要求";
                    suspend("alert-warning", message);
                    return false;
                }
            }
        }
    </script>
    {% endblock %}
</body>

</html>